@use "../custom" as *;

header {
    background-color: var(--color-shadow);
}

#header {
    display: flex;
    color: var(--color-2-light);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
    max-width: 1200px;
    margin: auto;
    @media (min-width: 1200px) {
        max-width: 1200px;
        margin: auto;
    }

    .logo-title {
        width: 100%;
        position: relative;
        padding: 0.5rem 1rem;
        @media (min-width: 481px) {
            order: -2;
            width: 50%;
        }
        @media (min-width: 769px) {
            order: 0;
            width: 33%;
        }
        a {
            text-decoration: none;

            img {
                position: absolute;
                width: 50%;
                z-index: -1;
            }
            h1 {
                width: 100%;
                margin: 0 auto;
                text-align: right;
                font-family: "Gotham", sans-serif;
                font-size: 36px;
                margin: 0px;
                padding: 10px;
                color: var(--color-1-light);
            }
        }
    }

    .search {
        width: 100%;
        max-width: 400px;
        margin: 0 0 0 auto;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 0.5rem 1rem;
        @media (min-width: 481px) {
            margin-bottom: 10px;
        }
        @media (min-width: 769px) {
            width: 33%;
        }
        #main-search {
            width: 100%;
            padding: 5px 15% 5px 5px;
            flex-grow: 1;
            border: solid 1px var(--color-2-light);
            color: var(--color-2-light);
            border-radius: 10px;
            background-color: var(--color-shadow);
            position: relative;
            z-index: 9;
        }
        #main-search:focus {
            outline: none;
            border: 1px solid var(--color-2-light);
            box-shadow: 0 0 10px var(--color-2-light);
        }
        button {
            cursor: pointer;
            border: none;
            background: none;
            margin: 2px 0px;
            position: absolute;
            right: 7%;
            z-index: 10;
            border-radius: 0 50% 50% 0;
            transform: translateY(2px);
            i {
                padding: 3px 6px;
                border-left: solid 1px var(--color-2-light);
                color: var(--color-2-light);
            }
        }
    }
    .nav-bar {
        padding: 0.5rem 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (min-width: 481px) {
            order: -1;
            width: 50%;
        }
        @media (min-width: 769px) {
            order: 0;
            width: 33%;
        }
        i {
            font-size: 40px;
        }
        .img-header {
            width: 50px;
            border-radius: 50%;
        }
        a:hover {
            color: var(--color-1-strong)-light;
        }
    }
}
