@use "../custom" as *;

.payment {
    .accordion-item {
        background-color: var(--color-1-light);
        border: none;
    }
    .accordion-button.collapsed {
        background-color: var(--color-1-strong);
        border: none;
    }
    .accordion-button {
        background-color: white;
        border: none;
    }
    .card {
        background-color: var(--color-1-light);
        border: none;
    }
}
