<footer>
    <div id="footer">
        <div id="background-img-bottom-right"></div>
        <div class="col-footer">
            <h3>Info</h3>
            <ul>
                <li><a href="">info@mundosapien.edu.ar</a></li>
                <li><a href="">¿Quiénes somos</a>?</li>
                <li><a href="">Nuestro propósito</a></li>
                <li><a href="">Términos y condiciones</a></li>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Términos de pago</a></li>
                <li><a href="">Preguntas frecuentes</a></li>
                <% if(user?.id == "17deb234-78d0-4de6-a0ff-683f14b94e35") {%>
                <li><a href="/products/create">Subir clase</a></li>
                <% if(locals.id) { %>
                <li><a href="/products/<%= id %>/edit">Editar clase</a></li>
                <li>
                    <form action="/products/<%= id %>/delete?_method=DELETE" method="post"
                        enctype="application/x-www-form-urlencoded"><button class="remove-btn-style"
                            type="submit">Eliminar clase</button>
                    </form>
                </li>
                <% } %>
                <% } %>
            </ul>
        </div>
        <div id="comunidad-footer" class="col-footer">
            <h3>Comunidad</h3>
            <ul>
                <li><a href=""><i class="fab fa-youtube"></i> Youtube</a></li>
                <li><a href=""><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href=""><i class="fab fa-twitter"></i> Twitter</a></li>
            </ul>
            <div id="background-img-under-social-media"></div>
        </div>
        <div class="col-footer">
            <h3>Currícula 1er ciclo</h3>
            <ul>
                <li>Artes</li>
                <ul>
                    <li><a href="/products/search?search=Música">Música</a></li>
                    <li><a href="/products/search?search=Plástica">Plástica</a></li>
                    <li><a href="">Teatro</a></li>
                    <li><a href="">Conocimiento del Mundo</a></li>
                    <li><a href="">Educación Física</a></li>
                    <li><a href="">Informática</a></li>
                    <li><a href="">Matemática</a></li>
                    <li><a href="">Prácticas del lenguaje</a></li>
                </ul>
        </div>
        <div class="col-footer">
            <h3>Currícula 2do ciclo</h3>
            <ul>
                <li>Artes</li>
                <ul>
                    <li><a href="">Música</a></li>
                    <li><a href="">Plástica</a></li>
                    <li><a href="">Teatro</a></li>
                </ul>
                <li><a href="">Ciencias Naturales</a></li>
                <li><a href="">Ciencias Sociales</a></li>
                <li><a href="">Educación Física</a></li>
                <li><a href="">Educación Tecnológica</a></li>
                <li><a href="">Formación Ética y Ciudadana</a></li>
                <li><a href="">Informática</a></li>
                <li><a href="">Matemática</a></li>
                <li><a href="">Prácticas del lenguaje</a></li>
            </ul>
        </div>
    </div>
    <p class="text-center text-white pb-3 mb-0">
        Copyright &copy; Mundo Sapien 2021 -Todos los derechos reservados
    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</footer>
<script src="   /script/bootstrap/bootstrap.bundle.js"></script>