<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
            rel="stylesheet"
        />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="./css/normalize.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/style.css" />

        <title>Mundo Sapien</title>
    </head>
    <body>
        <header>
            <div id="header">
                <div class="logo-title padding-10">
                    <a href="./">
                        <img
                            class="img-logo"
                            src="/img/logo.png"
                            alt="logo Mundo Sapien"
                        />
                        <h1>
                            MUNDO <br />
                            SAPIEN
                        </h1>
                    </a>
                </div>
                <!-- <div class="subscription">
                    <p>plan/suscripción</p>
                </div> -->
                <div class="search padding-10">
                    <input
                        type="search"
                        name="main-search"
                        id="main-search"
                        placeholder="Busca clases, temas o profesores"
                    />
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
                <nav class="nav-bar padding-10">
                    <div id="cart" class="padding-10">
                        <a class="restyled-link" href="/cart"
                            ><i class="fas fa-shopping-cart"></i
                        ></a>
                    </div>
                    <div id="notifications" class="padding-10">
                        <a class="restyled-link" href=""
                            ><i class="fas fa-inbox"></i
                        ></a>
                    </div>
                    <div id="profile" class="padding-10">
                        <a class="restyled-link" href="/register"
                            ><i class="fas fa-user-circle"></i
                        ></a>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div id="main">
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Cursos actuales</h2>
                    <a href="">
                        <div>
                            <img
                                class="width300 padding-10"
                                src="/img/picture-placeholder.svg"
                                alt="picture placeholder"
                            />
                        </div>
                    </a>
                </div>
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Sugerencias</h2>
                    <a href="">
                        <div>
                            <img
                                class="width300 padding-10"
                                src="/img/picture-placeholder.svg"
                                alt="picture placeholder"
                            />
                        </div>
                    </a>
                </div>
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Mi colección</h2>
                    <a href="">
                        <div>
                            <img
                                class="width300 padding-10"
                                src="/img/picture-placeholder.svg"
                                alt="picture placeholder"
                            />
                        </div>
                    </a>
                </div>
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Otros cursos</h2>
                    <div id="otros-cursos" class="width300 padding-10">
                        <a class="restyled-link" href="">
                            <div>Curso 1</div>
                        </a>
                        <a class="restyled-link" href="">
                            <div>Curso curso 2</div>
                        </a>
                        <a class="restyled-link" href="">
                            <div>Curso 3</div>
                        </a>
                        <a class="restyled-link" href="">
                            <div>Curso curso curso 4</div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div id="footer" class="padding-10">
                <div class="col-footer padding-10">
                    <h3>Info</h3>
                    <ul>
                        <a class="restyled-link" href="">
                            <li>info@mundosapien.edu.ar</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>¿Quiénes somos?</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Nuestro propósito</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Términos y condiciones</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Política de privacidad</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Términos de pago</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Preguntas frecuentes</li>
                        </a>
                    </ul>
                </div>
                <div id="comunidad-footer" class="col-footer padding-10">
                    <h3>Comunidad</h3>
                    <ul>
                        <a class="restyled-link" href="">
                            <li><i class="fab fa-youtube"></i> Youtube</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li><i class="fab fa-facebook"></i> Facebook</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li><i class="fab fa-instagram"></i> Instagram</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li><i class="fab fa-twitter"></i> Twitter</li>
                        </a>
                    </ul>
                </div>
                <div class="col-footer padding-10">
                    <h3>Currícula 1er ciclo</h3>
                    <ul>
                        <li>Artes</li>
                        <ul>
                            <a class="restyled-link" href="">
                                <li>Música</li>
                            </a>
                            <a class="restyled-link" href="">
                                <li>Plástica</li>
                            </a>
                            <a class="restyled-link" href="">
                                <li>Teatro</li>
                            </a>
                        </ul>
                        <a class="restyled-link" href="">
                            <li>Conocimiento del Mundo</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Educación Física</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Informática</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Matemática</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Prácticas del lenguaje</li>
                        </a>
                    </ul>
                </div>
                <div class="col-footer padding-10">
                    <h3>Currícula 2do ciclo</h3>
                    <ul>
                        <li>Artes</li>
                        <ul>
                            <a class="restyled-link" href="">
                                <li>Música</li>
                            </a>
                            <a class="restyled-link" href="">
                                <li>Plástica</li>
                            </a>
                            <a class="restyled-link" href="">
                                <li>Teatro</li>
                            </a>
                        </ul>
                        <a class="restyled-link" href="">
                            <li>Ciencias Naturales</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Ciencias Sociales</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Educación Física</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Educación Tecnológica</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Formación Ética y Ciudadana</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Informática</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Matemática</li>
                        </a>
                        <a class="restyled-link" href="">
                            <li>Prácticas del lenguaje</li>
                        </a>
                    </ul>
                </div>
            </div>
            <p id="copyright" class="padding-10">
                Copyright &copy; Mundo Sapien 2021 -Todos los derechos
                reservados
            </p>
        </footer>
    </body>
</html>
