        <%- include("./partials/head") %>
    <body>
        <%- include("./partials/header") %>
        <main>
            <div id="main">
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Cursos actuales</h2>
                    <a href="">
                        <div>
                            <img
                                class="width300 padding-10"
                                src="/img/picture-placeholder.svg"
                                alt="picture placeholder"
                            />
                        </div>
                    </a>
                </div>
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Sugerencias</h2>
                    <a href="/products-page">
                        <div>
                            <img
                                class="width300 padding-10"
                                src="/img/picture-placeholder.svg"
                                alt="picture placeholder"
                            />
                        </div>
                    </a>
                </div>
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Mi colección</h2>
                    <a href="">
                        <div>
                            <img
                                class="width300 padding-10"
                                src="/img/picture-placeholder.svg"
                                alt="picture placeholder"
                            />
                        </div>
                    </a>
                </div>
                <div class="cursos-main padding-10">
                    <h2 class="padding-10">Otros cursos</h2>
                    <div id="otros-cursos" class="width300 padding-10">
                        <a class="restyled-link" href="/products/1">
                            <div>Curso 1</div>
                        </a>
                        <a class="restyled-link" href="/products/2">
                            <div>Curso curso 2</div>
                        </a>
                        <a class="restyled-link" href="">
                            <div>Curso 3</div>
                        </a>
                        <a class="restyled-link" href="">
                            <div>Curso curso curso 4</div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
