<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="./css/normalize.css" />
        <link rel="stylesheet" href="/css/theme.css" />

        <title>Mundo Sapien</title>
    </head>
    <body>
        <header>
            <img class="img-logo" src="/img/logo.png" alt="logo Mundo Sapien" />
            <h1>Mundo Sapien</h1>
        </header>
        <main>products-page</main>
        <footer></footer>
    </body>
</html>
