<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
            rel="stylesheet"
        />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="./css/normalize.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/aux-style.css" />

        <title>Mundo Sapien</title>
    </head>
    <body>
        <%- include("./partials/header") %>
        <main>
            <div id="product-detail-main" class="">
                <div class="course-info padding-10">
                    <div class="course-info-short padding-10">
                        <div>
                            <span> 5to año </span>
                            <i class="fas fa-caret-right"></i>
                            <span> Matemática </span>
                        </div>
                        <h3>Fracciones I en Matemática 5to año</h3>
                        <img
                            class="width300 padding-10"
                            src="/img/picture-placeholder.svg"
                            alt="picture placeholder"
                        />
                        <p>Este curso es una introducción a las fracciones</p>
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h4>Juan Rodriguez</h4>
                    </div>
                    <div class="course-description padding-10">
                        <ul>
                            <li>Lo que aprenderás</li>
                            <li>Requisitos</li>
                            <li>Descripción más profunda</li>
                            <li>Contenidos del curso</li>
                            <li>Profesores</li>
                            <li>Reseñas</li>
                            <li>Cursos similares</li>
                            <ul>
                                <li>Práctica de lenguaje - 5to año</li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="course-buy-now">
                    <div class="inner-border padding-10">
                        <p>Fracciones I en Matemática 5to año</p>
                        <p>$450,00</p>
                        <form action="/cart">
                            <button type="submit">Comprar ahora</button>
                        </form>
                        <h5>Este curso incluye</h5>
                        <ul>
                            <li>6.5 hora de video</li>
                            <li>Material extra descargable</li>
                            <li>Acceso de por vida</li>
                            <li>Acceso en dispositivos móviles</li>
                            <li>Certificación de finalización</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
