/* home page */

#main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 40px 0;
}

.cursos-main h2 {
    font-family: "Gotham Light", sans-serif;
}

#otros-cursos {
    display: flex;
    flex-wrap: wrap;
}

#otros-cursos div {
    border: #3a3a3a dashed 1px;
    padding: 5px;
    margin: 5px;
    flex: 1 0 auto;
}

@media (min-width: 769px) {
    #main {
        padding: 40px 6%;
    }
}

/* Register */

#register-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#register-with {
    background-color: #3a3a3a;
    padding: 20px;
    margin: 40px 0px;
    border-radius: 20px;
    max-width: 400px;
}

#register-with h2,
#login-pop-up h2,
#register-with h4,
#register-with h3,
#login-pop-up h3,
#register-with p,
#register-with a {
    color: #c1ead1;
    font-family: "Gotham Light", sans-serif;
    text-align: center;
    margin: 20px 0;
}
.login-media {
    display: block;
    color: #c1ead1;
    text-align: center;
    width: 100%;
    font-family: "Gotham", sans-serif;
    background-color: #3a3a3a;
    border: #c1ead1 solid 1px;
    padding: 7px;
    margin-bottom: 20px;
}

.divider {
    text-align: center;
    color: #c1ead1;
}

.divider hr {
    display: inline-block;
    width: 40%;
    transform: translateY(-3px);
}

.divider i {
    font-size: 8px;
}

#register-with h3 {
    color: #33b56a;
}

.terms {
    font-size: 12px;
    padding: 0 4 0px;
}

#iniciar-sesion {
    text-align: center;
    padding: 40px;
    max-width: 400px;
}

#iniciar-sesion p {
    margin-bottom: 10px;
}

#iniciar-sesion a {
    display: block;
    color: #3a3a3a;
    text-align: center;
    width: 100%;
    font-family: "Gotham Black", sans-serif;
    background-color: #c1ead1;
    border: #3a3a3a solid 1px;
    padding: 7px;
    margin-bottom: 20px;
}

.login-cred {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 20px;
}

.login-cred label {
    color: #33b56a;
    font-family: "Gotham", sans-serif;
    padding: 10px 0;
}

.login-cred input {
    display: block;
    width: 100%;
    margin: 10px 0 20px;
    padding: 3px;
}
.login-cred input:focus {
    outline: none;
}

.login-cred button {
    display: block;
    color: #3a3a3a;
    text-align: center;
    width: 100%;
    font-family: "Gotham Black", sans-serif;
    background-color: #c1ead1;
    border: #3a3a3a solid 1px;
    padding: 7px;
    margin-bottom: 20px;
}

/* Login */

#register-with,
#iniciar-sesion,
#nuestro-proyecto {
    /* filter: blur(8px); */
}

#login-pop-up {
    display: none;
    position: absolute;
    background-color: #3a3a3a;
    margin: 5% auto;
    height: 60%;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}
