/* fonts */
/* font-family: "Gotham", sans-serif;
    font-family: "Gotham Black", sans-serif;
    font-family: "Gotham Light", sans-serif;
    font-family: "Gotham Thin", sans-serif;
    font-family: "Gotham XLight", sans-serif;
    font-family: "Gotham Book", sans-serif;
    font-family: "Gotham Ultra", sans-serif; */

/* font-family: 'EB Garamond', serif; */

/* colors */
/* colors {
    verde-joya: #33b56a;
    azul-joya: #3358b5;
    verde-pastel: #c1ead1;
    azul-pastel: #c1cee8;
    gris-sombra: #3a3a3a;
} */

/* Variables */

:root {
    --color-1-strong: #33b56a;
    --color-2-strong: #3358b5;
    --color-1-light: #c1ead1;
    --color-2-light: #c1cee8;
    --color-shadow: #3a3a3f;
}

/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

.padding-10 {
    padding: 10px 20px;
}

.width300 {
    width: 300px;
}

.height-100 {
    height: 100%;
}

.center-with-margin {
    margin: auto;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

.restyled-link {
    color: inherit;
    text-decoration: inherit;
}

.text-shadow {
    color: var(--color-shadow);
}

.bg-shadow-pill {
    background-color: var(--color-shadow);
    padding: 20px;
    border-radius: 20px;
    color: var(--color-1-light);
    font-family: "Gotham Light", sans-serif;
    text-align: center;
    width: 100%;
}

.btn-primary {
    background-color: var(--color-1-strong);
    border-color: var(--color-1-strong);
    margin-left: 10px;
}
.btn-primary:hover {
    background-color: var(--color-2-strong);
}

.btn-secondary {
    background-color: var(--color-2-strong);
    border-color: var(--color-2-strong);
    margin-left: 10px;
}
.btn-secondary:hover {
    background-color: var(--color-1-strong);
}

.ms-primary-btn {
    color: var(--color-shadow);
    text-align: center;
    font-family: "Gotham Black", sans-serif;
    background-color: var(--color-1-light);
    border: var(--color-shadow) solid 1px;
    padding: 7px;
    margin-bottom: 20px;
    width: 100%;
}

.form-upload {
    background-color: white;
    padding: 1rem 0.75rem;
    border-radius: 0.25rem !important;
    width: 100%;
}

.btn:focus,
.btn:active {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 58, 63, 0.25);
}

.button-right {
    margin-top: 40px;
    float: right;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 58, 63, 0.25);
}

.img-logo-mini {
    width: 20px;
}

html,
body {
    height: 100%;
}

.h1 {
    font-family: "Gotham", sans-serif;
    font-size: 36px;
    margin: 0px;
    padding: 10px;
    color: var(--color-shadow);
}

body {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--color-1-light);
}
main {
    flex: 1 0 auto;
    background: linear-gradient(
        172deg,
        var(--color-2-light) 38.2%,
        var(--color-1-light) 61.8%
    );
}
footer {
    flex-shrink: 0;
}

header,
footer {
    background-color: var(--color-shadow);
}

/* Header */

#header {
    display: flex;
    color: var(--color-2-light);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

.logo-title {
    width: 100%;
    position: relative;
}

.logo-title a {
    text-decoration: none;
}

.logo-title h1 {
    width: 100%;
    margin: 0 auto;
    text-align: right;
    font-family: "Gotham", sans-serif;
    font-size: 36px;
    margin: 0px;
    padding: 10px;
    color: var(--color-1-light);
}

.logo-title a img {
    position: absolute;
    width: 50%;
    z-index: -1;
}

/* .subscription {
    font-family: "EB Garamond", serif;
    display: none;
} */

.search {
    width: 100%;
    max-width: 400px;
    margin: 0 0 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#main-search {
    width: 100%;
    padding: 5px 15% 5px 5px;
    flex-grow: 1;
    border: solid 1px var(--color-2-light);
    color: var(--color-2-light);
    border-radius: 10px;
    background-color: var(--color-shadow);
    position: relative;
    z-index: 9;
}

#main-search:focus {
    outline: none;
    border: 1px solid var(--color-2-light);
    box-shadow: 0 0 10px var(--color-2-light);
}

.search button {
    cursor: pointer;
    border: none;
    background: none;
    margin: 2px 0px;
    position: absolute;
    right: 7%;
    z-index: 10;
    border-radius: 0 50% 50% 0;
    transform: translateY(2px);
}

.search button i {
    padding: 3px 6px;
    border-left: solid 1px var(--color-2-light);
    color: var(--color-2-light);
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-bar i {
    font-size: 40px;
}

.img-header {
    width: 50px;
    border-radius: 50%;
}

.badge {
    font-size: 0.5em;
}

.nav-bar a:hover {
    color: var(--color-1-light);
}

@media (min-width: 481px) {
    .logo-title {
        order: -2;
        width: 50%;
    }
    .nav-bar {
        order: -1;
        width: 50%;
    }
    .search {
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    .logo-title {
        order: 0;
        width: 33%;
    }
    .search {
        width: 33%;
    }
    .nav-bar {
        order: 0;
        width: 33%;
    }
}

@media (min-width: 1200px) {
    #header,
    #footer,
    #main,
    .max1200px {
        max-width: 1200px;
        margin: auto;
    }
}

/* Main */

/* Footer */

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-1-light);
    position: relative;
}

.col-footer {
    width: 100%;
}

.col-footer h3 {
    color: var(--color-2-light);
    font-family: "Gotham Light", sans-serif;
    margin-bottom: 10px;
}

.col-footer a:hover {
    color: var(--color-1-strong);
}

.col-footer ul {
    list-style-type: none;
}

.col-footer ul li {
    line-height: 2em;
}

.col-footer a:hover {
    color: var(--color-1-strong);
}

.col-footer ul > ul > a > li {
    padding-left: 20px;
}

#comunidad-footer i {
    font-size: 20px;
    transform: translateY(2px);
}

#copyright {
    text-align: center;
    color: var(--color-1-light);
}

@media (min-width: 481px) {
    .col-footer {
        width: 50%;
    }
}

@media (min-width: 769px) {
    .col-footer {
        width: 25%;
    }
}

@media (min-width: 1200px) {
}
