<div class="modal fade" id="parentVerificationModal" tabindex="-1" aria-labelledby="parentVerificationModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <button type="button" class="btn-close button-right " aria-label="Close"
                    data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="/user/secure" method="post">
                    <h5>Reingres치 tu contrase침a para continuar como padre</h5>
                    <div class="form-floating my-3">
                        <input class="form-control" type="password" name="pass" id="pass" placeholder="Contrase침a"
                            autofocus />
                        <label class="text-shadow" for="pass">Contrase침a</label>
                    </div>
                    <button type="submit" class="btn btn-success button-right" data-bs-dismiss="modal">Continuar con
                        privilegios
                        de
                        padre</button>
                </form>
            </div>
        </div>
    </div>
</div>