:root {
    --color-1-strong: #4770a8;
    --color-2-strong: #f29b30;
    --color-1-light: #c1d3e8;
    --color-1-light-rgba: rgba(193, 211, 232, 0.7);
    --color-2-light: #e8d5c1;
    --color-2-light-rgba: rgba(232, 213, 193, 0.7);
    --color-shadow: #3a3a3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

.links {
    text-decoration: none;
    color: var(--color-shadow);
    font-size: x-large;
    font-weight: bolder;
}

.main {
    position: relative;
    z-index: 1;
}

@media (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin: auto;
    }
}
