/* fonts */
/* font-family: "Gotham", sans-serif;
    font-family: "Gotham Black", sans-serif;
    font-family: "Gotham Light", sans-serif;
    font-family: "Gotham Thin", sans-serif;
    font-family: "Gotham XLight", sans-serif;
    font-family: "Gotham Book", sans-serif;
    font-family: "Gotham Ultra", sans-serif; */

/* font-family: 'EB Garamond', serif; */

/* colors */
/* colors {
    verde-joya: #33b56a;
    azul-joya: #3358b5;
    verde-pastel: #c1ead1;
    azul-pastel: #c1cee8;
    gris-sombra: #3a3a3a;
} */

/* Variables */

:root {
    --color-1-strong: #33b56a;
    --color-2-strong: #3358b5;
    --color-1-light: #c1ead1;
    --color-2-light: #c1cee8;
    --color-shadow: #3a3a3f;
}

/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

.padding-10 {
    padding: 10px 20px;
}

.min-width-300 {
    min-width: 300px;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.center-with-margin {
    margin: auto;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

.text-shadow {
    color: var(--color-shadow);
}

.auto-fit-center {
    width: fit-content;
    margin: auto;
}

.btn-primary {
    background-color: var(--color-1-strong);
    border-color: var(--color-1-strong);
    margin-left: 10px;
}
.btn-primary:hover {
    background-color: var(--color-2-strong);
}

.btn-secondary {
    background-color: var(--color-2-strong);
    border-color: var(--color-2-strong);
    margin-left: 10px;
}
.btn-secondary:hover {
    background-color: var(--color-1-strong);
}

.btn:focus,
.btn:active {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 58, 63, 0.25);
}

.button-right {
    margin-top: 40px;
    float: right;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 58, 63, 0.25);
}

.img-logo-mini {
    width: 20px;
}

html,
body {
    height: 100%;
}

.h1 {
    font-family: "Gotham", sans-serif;
    font-size: 36px;
    margin: 0px;
    padding: 10px;
    color: var(--color-shadow);
}

body {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--color-1-light);
}
main {
    flex: 1 0 auto;
    background: linear-gradient(
        172deg,
        var(--color-2-light) 38.2%,
        var(--color-1-light) 61.8%
    );
}
