<!-- Product-detail line 50 -->

<% for(let tema of classSel.description.contents){%>
<dd><%= tema %></dd>
<% } %>
<!-- Product-detail line 58 -->
<dt>Reseñas</dt>
<% for(let resena of classSel.resenas){%>
<dd>
    <div>
        <% let stars = 0%> <% for(let i = 0; i <
                                        Math.floor(resena.rating); i++){
                                        stars++; %>
        <i class="fas fa-star"></i>
        <% } %> <% if(resena.rating % 1 != 0) {
                                        stars++; %>
        <i class="fas fa-star-half-alt"></i>
        <% } %> <% for(let i = 0; i < 5 - stars
                                        ; i++){ %>
        <i class="far fa-star"></i>
        <% } %>
    </div>
    <%= resena.comentario %>
</dd>
<% } %>
<dt>clases similares</dt>
<% for(let clase of
                                classSel.clasesSimilares) { %>
<dd><%= clase.titulo %></dd>
<% } %>