<div>
    <div class="container-c">
        <h2>Elegí tu usuario</h2>

        <div class="row col-12">
            <div class="card-deck d-flex flex-wrap justify-content-around">
                <!-- Button trigger modal -->
                <% for(let profile of profiles) {%>
                <a href="/user/selProfile/<%=profile.id%>" class="card bg-transparent border-0 mx-2">
                    <img class="card-img-top rounded-circle" src="/img/avatars/<%= profile.avatar %> "
                        alt="child avatar" style="width: 8rem;">
                    <div class="card-body">
                        <h3 class="card-text text-center"><%= profile.name %></h3>
                    </div>
                </a>
                <% } %>
            </div>
        </div>
    </div>