<div>
    <div class="container-c">
        <h2>Info del padre</h2>

        <div class="row col-12">
            <%- include("../partials-profile/progress-bar") %>
            <div class="card-deck d-flex flex-wrap justify-content-around">
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis odit sint eum accusantium
                    dignissimos nesciunt quibusdam, veniam sequi. Quaerat, soluta fugit et excepturi dicta similique
                    ullam repellendus aliquid perspiciatis dolorum?</h3>

                <a href=<%= `/user/profile` %>>
                    <h2>Editar perfiles</h2>
                </a>
            </div>
        </div>
    </div>