<div>
    <div class="container-c">
        <h2>Info del padre</h2>

        <div class="row col-12">
            <%- include("../partials-profile/progress-bar") %>
            <div class="col-12 col-md-6">
                <div class="card-deck ">
                    <h3>Ingresá a tu perfil para editar la información de tus hijos y tus datos</h3>
                    <a type="button" class="btn btn-primary btn-lg button-right" href=<%= `/user/profile` %>>Editar
                        perfiles </a>
                </div>
            </div>
        </div>
    </div>