
    <div id="background-img-left-border"></div>
    <div id="header">
        <div class="logo-title padding-10">
            <a href="/">
                <img
                    class="img-logo"
                    src="/img/logo.png"
                    alt="logo Mundo Sapien"
                />
                <h1>
                    MUNDO <br />
                    SAPIEN
                </h1>
            </a>
        </div>
        <!-- <div class="subscription">
            <p>plan/suscripción</p>
        </div> -->

        <div class="search padding-10">
            <input
                type="search"
                name="main-search"
                id="main-search"
                placeholder="Busca clases, temas o profesores"
            />
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <nav class="nav-bar padding-10">
            <div id="cart" class="padding-10">
                <a class="position-relative restyled-link" href="/cart"
                    ><i class="fas fa-shopping-cart">
                        <!-- <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger">
    <%= locals.inCart %> 
      </span><span class="visually-hidden">unread messages</span> -->
      </i
                ></a>
            </div>
            <div id="notifications" class="padding-10">
                <a class="restyled-link" href=""
                    ><i class="fas fa-inbox"></i
                ></a>
            </div>
            <div id="profile" class="padding-10">
                <a class="restyled-link" href="/register"
                    ><i class="fas fa-user-circle"></i
                ></a>
            </div>
        </nav>
        <div id="background-img-under-search-bar"></div>
    </div>
