<article class="col-12 col-md-6 mb-3">
    <div class="container-c ">
        <h2>Progreso</h2>
        <div class="item">
            <table class="table table-hover">
                <tr>
                    <th>Hijo</th>
                    <th>Clase</th>
                    <th>Progreso</th>
                </tr>
                <% for(let prog of progress) {%>
                <tr>
                    <td><%= prog.profiles.name %> </td>
                    <td><%= prog.classes.title %> </td>

                    <td>
                        <span class="progressData" data-value=<%= prog.progress %>>
                            <progress max="100" value="0"></progress>
                        </span>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</article>
<script src="/script/progressValue.js"></script>