<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-c-fluid position-relative on-top">
        <div class="row">
            <div class="col-12 mx-5">
                <div class="shadow-pill my-5 auto-fit-center">
                    <h3>Producto cargado correctamente</h3>
                </div>
            </div>
        </div>
        <a href="/" class="row">
            <div class="col-12 mx-5">
                <div class="shadow-pill my-5 auto-fit-center">
                    <h3>Ir a página de inicio</h3>
                </div>
            </div>
        </a>

    </main>
    <%- include("./partials/footer") %>
</body>

</html>